* {
  margin:0;
  padding:0;
}

html, body {
  height:100%;
}

body {
  background: #f5f5f5;
  font-family: 'Open Sans Regular';
}

.form-wrapper {
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-wrapper h1 {
  align-self: flex-start;
  text-transform: uppercase;
}

.form-wrapper form {
  background:#fff;
  padding:15px;
  overflow: hidden;
  border:1px solid rgba(0,0,0,.2);
}

.form-wrapper form h3 {
  padding-bottom:6px;
  margin-bottom:25px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  position: relative;
  border-bottom:2px solid orange;
}

.form-wrapper form:not(first-child) {
  margin-top:30px;
}

.form-wrapper label {
  width:100px;
  display:inline-block;
  font-weight:bold;
  letter-spacing: .7px;
  text-transform: uppercase;
}

.form-wrapper input {
  font-size:1.2em;
  color:rgba(0, 0, 0, 0.4);
  font-weight:lighter;
  padding:12px;
  border-radius:3px;
  outline: none;
  border:1px solid orange;
}

.form-wrapper div {
  margin-bottom:15px;
}

.form-wrapper .btn {
  padding:10px;
  color:rgba(0, 0, 0, 0.4);
  background: transparent;
  border:1px solid orange;
  border-radius:3px;
  align-self: flex-end;
  margin-top:5px;
  width:100%;
  cursor: pointer;
  transition:.5s all;
  font-weight:bold;
  text-transform: uppercase;
}

.form-wrapper .btn:hover {
  background:orange;
  color:#fff;
  transition:.5s all;
}
